@import url(reset.css);

* {
  text-align: center;
}

body {
  font-family: "Raleway", sans-serif;
}

.banner {
  border-bottom: 1px solid #33a8db;
  height: 95dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  background-image:
    url(../images/banner.png),
    linear-gradient(to bottom, #000000 0%, #31a9dd33 50%, #000000 100%);
}

.banner-content {
  width: 85dvh;
}

.logo {
  background-color: #00000033;
  border-radius: 50%;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.banner-content h1 {
  font-size: 40px;
  font-weight: 900;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, #33a8db, #1472b7);
  background-clip: text;
  color: transparent;
}

.banner-content p {
  color: #f5f5f5;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0rem;
}

.banner-content button {
  margin-top: 1rem;
  padding: 1rem;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  color: #31a8dd;
  background-color: transparent;
  border-color: #31a8dd;
  cursor: pointer;
}

main {
  background-color: #000000;
}

#course-content {
  height: 85dvh;
  width: 70%;
  margin: auto;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

#course-content h2 {
  font-weight: 700;
  color: #33a8db;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 32px;
}

#course-content p {
  color: #f5f5f5;
}

.module {
  color: #f5f5f5;
  border: 1px solid #33a8db;
  background-color: #252525;
  padding: 1rem 2rem;
  margin-bottom: 24px;
  border-radius: 50px;
  box-shadow: inset 2px 6px #00000066;
}

.module span {
  color: #33a8db;
}

#transform-world {
  border-bottom: 1px solid #33a8db;
  border-top: 1px solid #33a8db;
  background-image: url(../images/woman-code.png);
  height: 50dvh;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

#transform-world p {
  color: #ffffff;
  text-transform: lowercase;
  font-weight: 900;
  font-size: 2rem;
  text-shadow: 3px 2px #33a8db;
  text-align: left;
  margin-left: 13%;
}

#professional-challenges {
  padding: 2rem;
  height: 95dvh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#professional-challenges h2 {
  color: #33a8db;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2rem;
  width: 95dvh;
}

#professional-challenges p {
  color: #ffffff;
  width: 65dvw;
  margin-top: 2rem;
}

footer {
  border-top: 1px solid #33a8db;
  background-color: #000000;
  background-image: linear-gradient(to top, #31a9dd3f 0%, #000000 50%);
  padding: 3rem;
  color: #ffffff;
}

footer a {
  text-decoration: none;
  color: #31a8dd;
  font-weight: bolder;
}
